
body {
<<<<<<< HEAD
  color: purple;
  text-align: center;
  background-color: black;
}
h1{
  color: orangered;
  text-align: center;
} 
p{
  color: aqua;
  text-decoration: dotted;
  text-align-last: center;
}
=======
    color: Purple;
    text-align: center;
    background-color: black;
  } 
>>>>>>> 814b9f1abd4c02d0d7350bae48ebab60b7c61ac1
